
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    font-size: 16px;
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden auto;
    font-family: "Poppins", sans-serif !important;
    background-color: #49B6FF;
}

.image {
    border-radius: 40px 0px 0px 40px;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
    min-height: 540px;
}

.login {
    padding: 20px 20px 25px 0px;
    min-height: 540px;
    border-radius: 0px 40px 40px 00px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}


.welcome {
    font-size: 20px;
    margin-bottom: 95px;
    background-color: white;
    border-radius: 0px 20px 20px 0px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.login-form {
    padding-left: 25px;
}

.btn-color {
    color: #5438DC;
    background-color: white;
    font-size: 15px;
    width: 90px;
    border-radius: 40px;
    transition: 0.5s;
}

    .btn-color:hover {
        color: white;
        border: solid white 1px;
    }

.btn-link {
    color: white;
    text-decoration: none;
}

.create-account {
    position: relative;
    top: 30px;
}

.forgot-password,
.create-account {
    position: relative;
    text-decoration: none;
    color: white; /* Bootstrap primary color */
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

    .forgot-password::after,
    .create-account::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px; /* Adjust the gap between text and underline */
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease-in-out;
    }

    .forgot-password:hover,
    .create-account:hover {
        color: floralwhite; /* Darker shade on hover */
    }

        .forgot-password:hover::after,
        .create-account:hover::after {
            width: 100%;
        }

@media screen and (max-width: 1000px) {
    #img {
        display: none;
    }

    #loginform {
        width: 100vw;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .login {
        padding: 30px;
        min-height: auto;
        border-radius: 20px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        width: 90vw;
        height: auto;
    }

    .welcome {
        margin-bottom: 30px;
        border-radius: 10px;
        width: auto;
    }

    .login-form h1 {
        font-size: 28px;
        text-align: center;
    }

    .login-form p {
        text-align: center;
    }

    .text-center, .text-end {
        text-align: center !important;
    }

    .btn-color {
        width: 100%;
    }

    .create-account {
        top: 10px;
    }
}
